:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

* {
  cursor: none !important;
}

#cursor-dot,
#cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 9999;
}

#cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #000;
}

#cursor-dot-outline {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: transparent;
}

body {

  margin: 0;

  padding: 0;

  width: 100vw;

  min-height: 100vh;

  overflow-x: hidden;

}



#root {

  width: 100%;

  min-height: 100%;

}
